
.box-group {
    overflow-y:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: center;
    gap: 16px; 
    max-width: 1000px;
    background: #f4f4f4;
    max-height: 100vh;
}
.box-group-item {
    flex: 0 1 auto;
    min-width: 150px;
}

@media (max-width: 768px) {
    .box-group {
        padding: 10px;
        gap: 10px;
    }

    .box-group-item {
        min-width: 100px; 
    }
}

@media (max-width: 480px) {
    .box-group-item {
        min-width: 100%; 
    }
}